<h1 mat-dialog-title>Criar Evento dia: {{data.date}}</h1>
<div mat-dialog-content>

  <mat-form-field class="full-width">
    <input matInput placeholder="Nome do Evento" [(ngModel)]="eventInfo.title">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Descrição do Evento" [(ngModel)]="eventInfo.description">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="time" placeholder="Horário de Início" [(ngModel)]="eventInfo.startTime">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="time" placeholder="Horário de Término" [(ngModel)]="eventInfo.finishTime">
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-button (click)="create()">Criar</button>
</div>